/* B */

/* Bot Channels */
[aria-label*="bot"] > div > svg > path {
	d: path(
        "M17.7529 14.0004C18.9956 14.0004 20.0029 15.0078 20.0029 16.2504V17.1555C20.0029 18.2492 19.5255 19.2883 18.6957 20.0008C17.1302 21.3447 14.8899 22.0016 11.9999 22.0016C9.11038 22.0016 6.87156 21.345 5.30869 20.0013C4.48007 19.2889 4.00342 18.2505 4.00342 17.1577V16.2504C4.00342 15.0078 5.01078 14.0004 6.25342 14.0004H17.7529ZM11.8984 2.00782L12.0002 2.00098C12.3799 2.00098 12.6937 2.28313 12.7434 2.64921L12.7502 2.75098L12.7494 3.49998L16.2499 3.50048C17.4925 3.50048 18.4999 4.50784 18.4999 5.75048V10.2551C18.4999 11.4977 17.4925 12.5051 16.2499 12.5051H7.74988C6.50724 12.5051 5.49988 11.4977 5.49988 10.2551V5.75048C5.49988 4.50784 6.50724 3.50048 7.74988 3.50048L11.2494 3.49998L11.2502 2.75098C11.2502 2.37128 11.5324 2.05749 11.8984 2.00782L12.0002 2.00098L11.8984 2.00782ZM9.74917 6.50048C9.0592 6.50048 8.49988 7.05981 8.49988 7.74977C8.49988 8.43973 9.0592 8.99906 9.74917 8.99906C10.4391 8.99906 10.9985 8.43973 10.9985 7.74977C10.9985 7.05981 10.4391 6.50048 9.74917 6.50048ZM14.2419 6.50048C13.5519 6.50048 12.9926 7.05981 12.9926 7.74977C12.9926 8.43973 13.5519 8.99906 14.2419 8.99906C14.9319 8.99906 15.4912 8.43973 15.4912 7.74977C15.4912 7.05981 14.9319 6.50048 14.2419 6.50048Z"
    );
	transform: scale(1) !important;
}

/* F */

/* FAQ Channels */
[aria-label*="faq"] > div > svg > path {
    d: path(
        "M12 2C17.523 2 22 6.478 22 12C22 17.522 17.523 22 12 22C6.477 22 2 17.522 2 12C2 6.478 6.477 2 12 2ZM12 15.5C11.4477 15.5 11 15.9477 11 16.5C11 17.0523 11.4477 17.5 12 17.5C12.5523 17.5 13 17.0523 13 16.5C13 15.9477 12.5523 15.5 12 15.5ZM12 6.75C10.4812 6.75 9.25 7.98122 9.25 9.5C9.25 9.91421 9.58579 10.25 10 10.25C10.3797 10.25 10.6935 9.96785 10.7432 9.60177L10.75 9.5C10.75 8.80964 11.3096 8.25 12 8.25C12.6904 8.25 13.25 8.80964 13.25 9.5C13.25 10.0388 13.115 10.3053 12.6051 10.8322L12.4697 10.9697C11.5916 11.8478 11.25 12.4171 11.25 13.5C11.25 13.9142 11.5858 14.25 12 14.25C12.4142 14.25 12.75 13.9142 12.75 13.5C12.75 12.9612 12.885 12.6947 13.3949 12.1678L13.5303 12.0303C14.4084 11.1522 14.75 10.5829 14.75 9.5C14.75 7.98122 13.5188 6.75 12 6.75Z"
    );
    transform: scale(1) !important;
}

/* G */

/* Gaming Channels */
[aria-label*="gaming"] > div > svg > path,
[aria-label*="games"] > div > svg > path {
	d: path(
		"M14.9979 5C18.8639 5 21.9979 8.13401 21.9979 12C21.9979 15.7855 18.9931 18.8691 15.2385 18.9959L14.9979 19H9.00211C5.13611 19 2.00211 15.866 2.00211 12C2.00211 8.21455 5.00689 5.1309 8.76146 5.00406L9.00211 5H14.9979ZM14.75 12.5C14.0596 12.5 13.5 13.0596 13.5 13.75C13.5 14.4404 14.0596 15 14.75 15C15.4403 15 16 14.4404 16 13.75C16 13.0596 15.4403 12.5 14.75 12.5ZM7.99999 9C7.62029 9 7.3065 9.28215 7.25684 9.64823L7.24999 9.75V11.248L5.74999 11.2487C5.33578 11.2487 4.99999 11.5845 4.99999 11.9987C4.99999 12.3784 5.28214 12.6922 5.64822 12.7419L5.74999 12.7487L7.24999 12.748V14.25C7.24999 14.6642 7.58578 15 7.99999 15C8.37969 15 8.69348 14.7178 8.74314 14.3518L8.74999 14.25V12.748L10.25 12.7487C10.6642 12.7487 11 12.413 11 11.9987C11 11.6191 10.7178 11.3053 10.3518 11.2556L10.25 11.2487L8.74999 11.248V9.75C8.74999 9.33579 8.4142 9 7.99999 9ZM16.75 9C16.0596 9 15.5 9.55964 15.5 10.25C15.5 10.9404 16.0596 11.5 16.75 11.5C17.4403 11.5 18 10.9404 18 10.25C18 9.55964 17.4403 9 16.75 9Z"
	);
	transform: scale(1) !important;
}

/* H */

/* Help Channels */
[aria-label*="help"] > div > svg > path,
[aria-label*="support"] > div > svg > path {
	d: path(
		"M9.5 3 C 5.35786 3 2 6.35786 2 10.5 C 2 11.6335 2.251695 12.710881 2.703125 13.675781 C 2.401005 14.900881 2.1392844 16.207606 2.0214844 16.816406 C 1.8881844 17.505406 2.4881813 18.110681 3.1757812 17.988281 C 3.7990912 17.877281 5.1538294 17.626337 6.4121094 17.335938 C 7.3547994 17.762437 8.40027 18 9.5 18 C 13.6421 18 17 14.6421 17 10.5 C 17 6.35786 13.6421 3 9.5 3 z M 9.5 6 C 10.02644 5.99997 10.637059 6.173465 11.130859 6.578125 C 11.647859 7.001755 12 7.65186 12 8.5 C 12 9.47459 11.312128 10.004434 10.923828 10.302734 C 10.893728 10.325934 10.863991 10.346687 10.837891 10.367188 C 10.413291 10.700888 10.25 10.8795 10.25 11.25 C 10.25 11.6642 9.91421 12 9.5 12 C 9.08579 12 8.75 11.6642 8.75 11.25 C 8.75 10.116 9.4617594 9.54139 9.9121094 9.1875 C 10.425409 8.78413 10.5 8.69484 10.5 8.5 C 10.5 8.10296 10.352141 7.8780013 10.181641 7.7382812 C 9.9879806 7.5796012 9.72358 7.49999 9.5 7.5 C 9.20475 7.50002 9.0025225 7.5502094 8.8515625 7.6308594 C 8.7081125 7.7074894 8.5564962 7.8414181 8.4101562 8.1113281 C 8.2127362 8.4754681 7.7567081 8.6114825 7.3925781 8.4140625 C 7.0284381 8.2166425 6.8924238 7.7606244 7.0898438 7.3964844 C 7.3535038 6.9101644 7.7029812 6.5425206 8.1445312 6.3066406 C 8.5785712 6.0747606 9.04525 6.00003 9.5 6 z M 16.953125 6.4101562 C 17.620225 7.6234662 18 9.01752 18 10.5 C 18 15.1944 14.19438 19 9.5 19 C 9.46672 19 9.4335906 19.0004 9.4003906 19 C 10.738601 20.2415 12.5306 21 14.5 21 C 15.5997 21 16.645191 20.762437 17.587891 20.335938 C 18.847791 20.626337 20.209637 20.875928 20.835938 20.986328 C 21.525237 21.107928 22.123428 20.500247 21.986328 19.810547 C 21.865428 19.202047 21.599075 17.896128 21.296875 16.673828 C 21.748275 15.708928 22 14.6335 22 13.5 C 22 10.2171 19.890425 7.4264862 16.953125 6.4101562 z M 9.5 13 C 10.05233 13 10.5 13.4476 10.5 14 C 10.5 14.5523 10.05233 15 9.5 15 C 8.94768 15 8.5 14.5523 8.5 14 C 8.5 13.4476 8.94768 13 9.5 13z"
	);
	transform: scale(1) !important;
}

/* H */

/* Info Channels */
[aria-label*="info"] > div > svg > path,
[aria-label*="useful"] > div > svg > path {
	d: path(
		"M12 1.99902C17.5237 1.99902 22.0015 6.47687 22.0015 12.0006C22.0015 17.5243 17.5237 22.0021 12 22.0021C6.47626 22.0021 1.99841 17.5243 1.99841 12.0006C1.99841 6.47687 6.47626 1.99902 12 1.99902ZM11.9962 10.2496C11.4833 10.2499 11.0609 10.6363 11.0035 11.1336L10.9968 11.2503L11.0004 16.7519L11.0072 16.8685C11.0653 17.3658 11.4882 17.7515 12.0011 17.7512C12.5139 17.7509 12.9363 17.3645 12.9938 16.8672L13.0004 16.7505L12.9968 11.249L12.99 11.1323C12.9319 10.635 12.509 10.2493 11.9962 10.2496ZM12.0004 6.50006C11.3092 6.50006 10.7489 7.06038 10.7489 7.75158C10.7489 8.44277 11.3092 9.0031 12.0004 9.0031C12.6916 9.0031 13.2519 8.44277 13.2519 7.75158C13.2519 7.06038 12.6916 6.50006 12.0004 6.50006Z"
	);
	transform: scale(1) !important;
}

/* L */

/* Log Channels */
[aria-label*="log"] > div > svg > path {
	d: path(
		"M16.25 2C16.6297 2 16.9435 2.28215 16.9932 2.64823L17 2.75L16.9994 3.499L17.7486 3.49986C18.991 3.50029 19.9982 4.50734 19.9986 5.7499L19.9994 16H16.2453L16.0913 16.0052C14.9737 16.0808 14.0799 16.9724 14.001 18.089L13.9953 18.25V22.0046H5.75376C4.5113 22.0044 3.50407 20.9972 3.50375 19.7547L3.50244 5.7502C3.50212 4.50751 4.5094 3.49986 5.75209 3.49986L6.49944 3.499L6.50001 2.75C6.50001 2.33579 6.83579 2 7.25001 2C7.6297 2 7.9435 2.28215 7.99316 2.64823L8.00001 2.75L7.99944 3.499H11.0014L11.0019 2.75C11.0019 2.33579 11.3377 2 11.7519 2C12.1316 2 12.4454 2.28215 12.4951 2.64823L12.5019 2.75L12.5014 3.499H15.4994L15.5 2.75C15.5 2.33579 15.8358 2 16.25 2ZM19.5594 17.5L15.4944 21.565L15.4953 18.25L15.5022 18.1482C15.5473 17.8154 15.8108 17.552 16.1435 17.5068L16.2453 17.5H19.5594ZM11.2484 16H7.25019L7.14842 16.0068C6.78234 16.0565 6.50019 16.3703 6.50019 16.75C6.50019 17.1297 6.78234 17.4435 7.14842 17.4932L7.25019 17.5H11.2484L11.3502 17.4932C11.7163 17.4435 11.9984 17.1297 11.9984 16.75C11.9984 16.3703 11.7163 16.0565 11.3502 16.0068L11.2484 16ZM16.2484 12H7.25019L7.14842 12.0068C6.78234 12.0565 6.50019 12.3703 6.50019 12.75C6.50019 13.1297 6.78234 13.4435 7.14842 13.4932L7.25019 13.5H16.2484L16.3502 13.4932C16.7163 13.4435 16.9984 13.1297 16.9984 12.75C16.9984 12.3703 16.7163 12.0565 16.3502 12.0068L16.2484 12ZM16.2484 8H7.25019L7.14842 8.00685C6.78234 8.05651 6.50019 8.3703 6.50019 8.75C6.50019 9.1297 6.78234 9.44349 7.14842 9.49315L7.25019 9.5H16.2484L16.3502 9.49315C16.7163 9.44349 16.9984 9.1297 16.9984 8.75C16.9984 8.3703 16.7163 8.05651 16.3502 8.00685L16.2484 8Z"
	);
	transform: scale(1) !important;
}

/* Private stuff */
[aria-label*=" (Limited)"] > div > svg >path {
	d: path(
		"M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"
	);
	transform: scale(1) !important;
}

/* M */

/* Meme Channels */
[aria-label*="meme"] > div > svg > path {
	d: path(
		"M21.5957 0H2.39951C1.07499 0 0 1.07379 0 2.39952V16.7966C0 18.1212 1.07499 19.1962 2.39951 19.1962H3.59927V23.9952L8.39833 19.1962H21.5957C22.9215 19.1962 23.9952 18.1212 23.9952 16.7966V2.39952C23.9952 1.07379 22.9215 0 21.5957 0ZM15.5969 4.4991C16.4236 4.4991 17.0966 5.17097 17.0966 5.9988C17.0966 6.82663 16.4247 7.4985 15.5969 7.4985C14.7703 7.4985 14.0972 6.82663 14.0972 5.9988C14.0972 5.17097 14.7703 4.4991 15.5969 4.4991ZM8.39833 4.4991C9.22496 4.4991 9.89803 5.17097 9.89803 5.9988C9.89803 6.82663 9.22496 7.4985 8.39833 7.4985C7.57169 7.4985 6.89862 6.82663 6.89862 5.9988C6.89862 5.17097 7.57169 4.4991 8.39833 4.4991ZM11.9976 14.3971C9.5381 14.3971 7.43132 12.9142 6.5051 10.7978H17.4901C16.5639 12.9142 14.4571 14.3971 11.9976 14.3971Z"
	);
	transform: scale(1) !important;
}

/* N */

/* NSFW Channels */
[aria-label*="nsfw"] > div > svg > path {
    d: path(
        "M22 11.998C22 6.4752 17.5228 1.99805 12 1.99805C6.47715 1.99805 2 6.4752 2 11.998C2 13.6408 2.3972 15.2274 3.1449 16.6483L2.02855 20.9367C1.99198 21.0771 1.99199 21.2246 2.02858 21.3651C2.1469 21.8194 2.6111 22.0917 3.06538 21.9734L7.35578 20.8563C8.77516 21.602 10.3596 21.998 12 21.998C17.5228 21.998 22 17.5209 22 11.998ZM12 6.49951C12.4142 6.49951 12.75 6.8353 12.75 7.24951V13.4995C12.75 13.9137 12.4142 14.2495 12 14.2495C11.5858 14.2495 11.25 13.9137 11.25 13.4995V7.24951C11.25 6.8353 11.5858 6.49951 12 6.49951ZM13 16.4974C13 17.0497 12.5523 17.4974 12 17.4974C11.4477 17.4974 11 17.0497 11 16.4974C11 15.9451 11.4477 15.4974 12 15.4974C12.5523 15.4974 13 15.9451 13 16.4974Z"
    );
    transform: scale(1) !important;
}

/* O */

/* Offtopic & Ontopic Channels */
[aria-label*="offtopic"] > div > svg > path,
[aria-label*="off-topic"] > div > svg > path,
[aria-label*="chat"] > div > svg > path,
[aria-label*="ontopic"] > div > svg > path,
[aria-label*="on-topic"] > div > svg > path,
[aria-label*="general"] > div > svg > path {
	d: path(
		"M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C10.3596 22 8.77516 21.6039 7.35578 20.8583L3.06538 21.9753C2.6111 22.0937 2.1469 21.8213 2.02858 21.367C1.99199 21.2266 1.99198 21.0791 2.02855 20.9386L3.1449 16.6502C2.3972 15.2294 2 13.6428 2 12C2 6.47715 6.47715 2 12 2ZM13.2517 13H8.75L8.64823 13.0068C8.28215 13.0565 8 13.3703 8 13.75C8 14.1297 8.28215 14.4435 8.64823 14.4932L8.75 14.5H13.2517L13.3535 14.4932C13.7196 14.4435 14.0017 14.1297 14.0017 13.75C14.0017 13.3703 13.7196 13.0565 13.3535 13.0068L13.2517 13ZM15.25 9.5H8.75L8.64823 9.50685C8.28215 9.55651 8 9.8703 8 10.25C8 10.6297 8.28215 10.9435 8.64823 10.9932L8.75 11H15.25L15.3518 10.9932C15.7178 10.9435 16 10.6297 16 10.25C16 9.8703 15.7178 9.55651 15.3518 9.50685L15.25 9.5Z"
	);
}

/* P */

/* Programming Channels */
[aria-label*="programming"] > div > svg > path,
[aria-label*="coding"] > div > svg > path,
[aria-label*="dev"] > div > svg > path {
	d: path(
		"M8.08553 18.6112L14.0817 4.60666C14.2991 4.09895 14.8868 3.8636 15.3946 4.08097C15.866 4.28283 16.1026 4.80407 15.96 5.284L15.9202 5.39385L9.92409 19.3984C9.70671 19.9061 9.11892 20.1414 8.61121 19.9241C8.13977 19.7222 7.90316 19.201 8.04581 18.721L8.08553 18.6112L14.0817 4.60666L8.08553 18.6112ZM2.29289 11.2931L6.29289 7.29315C6.68342 6.90263 7.31658 6.90263 7.70711 7.29315C8.06759 7.65363 8.09532 8.22087 7.7903 8.61316L7.70711 8.70736L4.41421 12.0003L7.70711 15.2931C8.09763 15.6837 8.09763 16.3168 7.70711 16.7074C7.34662 17.0678 6.77939 17.0956 6.3871 16.7906L6.29289 16.7074L2.29289 12.7074C1.93241 12.3469 1.90468 11.7796 2.2097 11.3874L2.29289 11.2931L6.29289 7.29315L2.29289 11.2931ZM16.2921 7.29191C16.6526 6.93144 17.2198 6.90374 17.6121 7.20878L17.7063 7.29198L21.7071 11.2932C22.0678 11.6538 22.0953 12.2214 21.7899 12.6136L21.7066 12.7078L17.7058 16.7034C17.315 17.0936 16.6818 17.0932 16.2916 16.7024C15.9313 16.3417 15.904 15.7745 16.2093 15.3824L16.2925 15.2882L19.5854 11.9998L16.292 8.70613C15.9015 8.31558 15.9015 7.68242 16.2921 7.29191Z"
	);
	transform: scale(1) !important;
}